<!-- 

    Primer jednog casa u materials.json:

    {
        "title": "Čas 1",
        "materials": [
            {
                "type": "link",
                "title": "Poglavlje 1 u skripti",
                "link": "/vezbe/poglavlja/1",
                "description": "Ovaj opis je opciona stavka"
            }
        ]
    }

 -->

<h4>Materijali sa časova</h4>

{% if include.classes.size > 0 %}
<div class="ui list">
    {% for class in include.classes %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            <div class="header">{{ class.title }}</div>
            {% assign materials = class.materials %}
            {% if materials.size > 0 %}
            <div class="list">
                {% for material in materials %}
                <div class="item">
                    <i class="file icon"></i>
                    <div class="content">
                        {% if material.type == "link" %}
                        <a class="header" href="{{ material.link }}">{{ material.title }}</a>
                        {% else %}
                        <div class="header">{{ material.title }}</div>
                        {% endif %}

                        {% if material.description %}
                        <div class="description">
                            {{ material.description }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="text">
    Nema časova
</div>
{% endif %}