<div style="border-left: 7px solid rgb(196, 41, 255); padding-left: 15px; background-color: rgba(192, 192, 192, 0.2);">
    <p><span style="font-weight: bold;">Definicija:</span> {{ include.def | append: ' '
        | replace: '* ', '</span> '
        | replace: '*.', '</span>.'
        | replace: '*,', '</span>,'
        | replace: '*)', '</span>)'
        | replace: '*', '<span style="font-style: italic;">'
        | replace: '` ', '</span> ' 
        | replace: '`. ', '</span>. '
        | replace: '`,', '</span>,'
        | replace: '`)', '</span>)'
        | replace: '`', '<span style="color: #e83e8c; background-color: #eef; padding: 1px 5px; font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;">' }}</p>
</div>