<div style="border: 2px solid rgb(196, 41, 255); padding: 5px; background-color: rgba(197, 197, 197, 0.3); margin: 10px 0;">
    <p style="font-weight: bold;">Zadatak {{ include.broj }}</p>
    {{ include.tekst  
        | replace: '<', '&lt;'
        | replace: '>', '&gt;'
        | replace: '\n', '<br>'
        | replace: '` ', '</span> ' 
        | replace: '`.', '</span>.'
        | replace: '`,', '</span>,'
        | replace: '`:', '</span>:'
        | replace: '`)', '</span>)'
        | replace: '`', '<span style="color: #e83e8c; background-color: #eef; padding: 1px 5px; font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;">' }}
</div>