<header class="site-header" role="banner"
    style="background-image: url({{site.baseurl}}/resources/header.png); height: 300px; background-repeat: repeat-x;">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"
        style="display: flex; position: relative; top: 125px; background-color: white; width: 100%; height: 86px;flex-wrap: wrap; justify-content: center; align-items: center; line-height: 0px; font-size: 36px;">
        {% assign title_names = site.title | escape | upcase | split: ' ' %}
        {% for item in title_names %}
        <span style="font-weight: bold;">{{ item }}&nbsp;</span>
        {% endfor %}
    </a>
</header>