<h2 class="ui center aligned header">Informacije o kursu</h2>

<h3 class="ui top attached header">Nastavno osoblje</h3>
<div class="ui attached segment">
    <div class="ui list">
        {% for teacher in site.data.course_info.teachers %}
        <div class="item">
            <img width="45" height="60" class="ui image" src="{{ teacher.image }}">
            <div class="content">
                <a class="header" href="{{ teacher.website }}">{{ teacher.name }}</a>
                <div class="description">
                    {{ teacher.type }}
                    {% if teacher.officeHours %}
                        <br>
                        {% if teacher.officeHours.type == "link" %}
                        <a href="{{ teacher.officeHours.link }}">{{ teacher.officeHours.text }}</a>
                        {% else %}
                        Konsultacije: {{ teacher.officeHours.text }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h3 class="ui top attached header">Obaveze na kursu (školska 2025/2026. godina)</h3>
<div class="ui attached segment">
    <h4>Predispitne obaveze</h4>
    <div class="ui relaxed list">
        <div class="item">
            <i class="large desktop middle aligned icon"></i>
            <div class="content">
                <p class="header">Kolokvijum (20 poena)</p>
                <div class="description">
		    Opcione prirode
		    <br>
		    Prag: 8 poena
		</div>
            </div>
        </div>
    </div>

    <h4>Završni ispit</h4>
    <div class="ui relaxed list">
        <div class="item">
            <i class="large desktop middle aligned icon"></i>
            <div class="content">
                <p class="header">Praktični deo ispita (60 poena)</p>
                <div class="description">
		    Prag: 30 poena
		</div>
            </div>
        </div>
        <div class="item">
            <i class="large edit middle aligned icon"></i>
            <div class="content">
                <p class="header">Teorijski deo ispita (40 poena)</p>
                <div class="description">
		    Prag: 15 poena
		</div>
            </div>
        </div>
    </div>
    <p>
    Pre izlaska na kolokvijum ili ispit, <b>obavezno</b> pogledati detaljan opis obaveza na kursu i pravila polaganja ispita na narednom linku:
	<a href="/pravila_polaganja"> link </a>
    </p>
</div>
