<h2 class="ui center aligned header">Informacije o kursu</h2>

<h3 class="ui top attached header">Nastavno osoblje</h3>
<div class="ui attached segment">
    <div class="ui list">
        {% for teacher in site.data.course_info.teachers %}
        <div class="item">
            <img width="45" height="60" class="ui image" src="{{ teacher.image }}">
            <div class="content">
                <a class="header" href="{{ teacher.website }}">{{ teacher.name }}</a>
                <div class="description">
                    {{ teacher.type }}
                    {% if teacher.officeHours %}
                        <br>
                        {% if teacher.officeHours.type == "link" %}
                        <a href="{{ teacher.officeHours.link }}">{{ teacher.officeHours.text }}</a>
                        {% else %}
                        Konsultacije: {{ teacher.officeHours.text }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h3 class="ui top attached header">Pravila polaganja (2021/2022.)</h3>
<div class="ui attached segment">
    <p>Završni ispit nosi 100 poena i sastoji se od narednih delova:</p>
    <div class="ui relaxed list">
        <div class="item">
            <i class="large desktop middle aligned icon"></i>
            <div class="content">
                <p class="header">Praktični deo (60 poena)</p>
                <div class="description">Prag za prolaz je 20 poena.</div>
            </div>
        </div>
        <div class="item">
            <i class="large edit middle aligned icon"></i>
            <div class="content">
                <p class="header">Pismeni deo (40 poena)</p>
                <div class="description">Prag za prolaz je 15 poena.</div>
            </div>
        </div>
    </div>
	<p>Praktični zadaci i teorija se polažu u istom terminu.</p>
	<p>Ostvareni prag na jednom delu ispita važi u spojenim rokovima (Jun1-Jun2, Sept1-Sept2).</p>
	<p>To znači sledeće:
- Student može u prvom roku (Jun1, Sept1) raditi jedan deo ispita, a u drugom (Jun2, Sept2) drugi deo ispita.
- Student može u prvom od spojenih rokova (Jun1, Sept1) raditi oba dela ispita, i ako je nezadovoljan rezultatom na jednom delu može izaći samo na taj deo u drugom roku (Jun2, Sept2). U ovom slučaju poeni ostvareni na tom delu ispita u prvom roku se više neće računati.</p>
	<p>Ispit je potrebno prijaviti u svim rokovima u kojima student izlazi na neki deo ispita.</p>
</div>