<h2 class="ui center aligned header">Informacije o kursu</h2>

<h3 class="ui top attached header">Nastavno osoblje</h3>
<div class="ui attached segment">
    <div class="ui list">
        {% for teacher in site.data.course_info.teachers %}
        <div class="item">
            <img width="45" height="60" class="ui image" src="{{ teacher.image }}">
            <div class="content">
                <a class="header" href="{{ teacher.website }}">{{ teacher.name }}</a>
                <div class="description">
                    {{ teacher.type }}
                    {% if teacher.officeHours %}
                        <br>
                        {% if teacher.officeHours.type == "link" %}
                        <a href="{{ teacher.officeHours.link }}">{{ teacher.officeHours.text }}</a>
                        {% else %}
                        Konsultacije: {{ teacher.officeHours.text }}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h3 class="ui top attached header">Pravila polaganja (2025/2026.) [U PRIPREMI]</h3>
<div class="ui attached segment">
    <p>Završni ispit nosi 100 poena i sastoji se od narednih delova:</p>
    <div class="ui relaxed list">
        <div class="item">
            <i class="large desktop middle aligned icon"></i>
            <div class="content">
                <p class="header">Praktični deo ispita (60 poena)</p>
                <div class="description">
			Podrazumeva proveru gradiva obrađenog na časovima vežbi.
			Neophodno je ostvariti barem 30 poena.
			Ovaj deo ispita se radi na računaru i podrazumeva rešavanje zadataka, pisanjem programa.
			Programi se čuvaju na računaru i tako predaju.
		</div>
            </div>
        </div>
        <div class="item">
            <i class="large edit middle aligned icon"></i>
            <div class="content">
                <p class="header">Teorijski deo ispita (40 poena)</p>
                <div class="description">
			Podrazumeva proveru gradiva obrađenog na predavanjima.
			Neophodno je ostvariti barem 15 poena.
			Ovaj deo ispita se takođe radi na računaru i podrazumeva odgovaranje na teorijska pitanja.
			Odgovori se čuvaju u fajlu, prema uputstvima zadatim na ispitu.
			Fajl sa odgovorima se čuva na računaru i tako predaje.
		</div>
            </div>
        </div>
    </div>
        <p>Da bi student položio ispit, mora na praktičnom delu osvojiti barem 30 poena, na teorijskom delu osvojiti barem 15 poena, kao i ukupno osvojiti barem 51 poen.</p>
	<p>Praktični deo ispita i teorijski deo ispita se u svakom ispitnom roku održavaju u istom terminu.</p>
	<p>
	Student može polagati jedan deo ispita u jednom ispitnom roku, a drugi deo ispita u drugom ispitnom roku.
	Na primer, student može polagati praktični deo ispita u roku Jun 2, a teorijski deo ispita u roku Septembar 2.
	</p>
	<p>Vreme za rad je 3 sata u slučaju izrade samo praktičnog dela, odnosno 1 sat u slučaju izrade samo teorijskog dela, odnosno 3,5 sata u slučaju izrade oba dela ispita.</p>
	<p>Redosled polaganja praktičnog i teorijskog dela ispita je proizvoljan.</p>
	<p>
	Ostvaren rezultat na bilo kom delu ispita važi do kraja školske godine, osim u slučaju ponovnog izlaska na taj deo ispita u nekom od narednih rokova.
	U tom slučaju, gleda se poslednji rezultat (čak i ako nije ostvaren minimalan broj poena potreban za prolaz!).
	Na primer, ukoliko student ostvari 43 poena na praktičnom delu u roku Jun 1, a zatim izađe na praktični deo ispita u roku Jun 2 i ostvari 22 poena, računa se da je na praktičnom delu ostvareno 22 poena (uz pretpostavku da je to i poslednji izlazak na praktični deo ispita u ovoj školskoj godini).
	</p>
	<p>Ispit je neophodno prijaviti u svim rokovima u kojima student izlazi na neki deo ispita.</p>
	<p>Ako student na ispitu u nekom ispitnom roku uradi i preda rešenje dela ispita koji nije prijavio u tom ispitnom roku, taj deo rezultata se ne uzima u obzir.</p>
</div>
